---
layout: default
---

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<div class="home">
  {%- if page.title -%}
   <h1 class="page-heading">{{ page.title }}</h1> 
   {%- endif -%}
   <!-- Show the latest post on the front page -->
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ site.posts.first.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ site.posts.first.date | date: date_format }}
      </time>
      {%- if site.posts.first.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ site.posts.first.author }}</span></span>
      {%- endif -%}</p>
  </header>

   
     {{ site.posts.first.content }}

   <!-- Show the older posts -->
    <h2 class="post-list-heading">{{"Browse older weekly conjectures" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


</div>
